/shared/build/
/server/build/
/server/resources/dist/


/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*

/client/dist/
/build/
/.idea/
/.gradle/
.frontend-gradle-plugin/
**/node_modules/**
/client/node/
/kotlin-js-store
